body{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}
/* All rows from Bootstrap containing images seem to have some extra margins coming from the right so this is intended to correct that */

/*
.rowWithImage{
  margin-left: 8%;
}
*/


.navee{

  background-color: #9d0208;
  
}

.nav-link {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #ffa000;
  transition: transform 450ms;
  transform: scale(1.09);
}

.navbar-brand{
  color: #fff;
  font-family: 'Libre Baskerville',
  serif;
  font-size: 1.4rem;
  font-style: italic;

}

.navbar-brand:hover{
  color: #ffa000;
  transition: transform 450ms;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #d00000;
}

.nav-pills .nav-link.active:hover,
.nav-pills .show>.nav-link:hover{
  background-color: #ffa000;
}

/* Header Style */
.header{

  background-image: url('../assets/tableHeader.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 90vh;
  text-align: center;
  
}

.h1-header{
  font-family: 'Libre Baskerville',
  serif;
  font-weight: 700;
  padding-top: 150px;
}

.headerPara {
  font-size: 3rem;
  font-family: 'Aladin',
  cursive;
}

.headerButton{

  background-color: #ffa000;
  border: 2px solid #fff;
  text-transform: uppercase;
  border-radius: 2.3em;
  letter-spacing: 0.1em;
  font-family: 'Ubuntu',
  sans-serif;
  color: #fff;
  padding: 0.9em 1.8em;
}

.headerButton:hover{
  background-color: #f44c02;
  color: #fff;
  transition:  0.45s;
  transition-timing-function: ease-in-out;
}

/* Intro */
#intro{

  margin-top: 60px;
  margin-bottom: 30px;

}

.introText{
  margin-top: 8px;
}

.intro-heading, .paraIntro{

 font-family: 'Ubuntu',
 sans-serif;

}

.introButton{
  text-transform: uppercase;
  border-radius: 2.3em;
  letter-spacing: 0.1em;
  font-family: 'Ubuntu',
  sans-serif;
  background-color: #9d0208;
  color: #fff;
  padding: 0.9em 1.8em;
  border: none;
}

img{
  width: 100%;
}

/* Slider */

.sliderImage{
  padding: 10px 60px;  
}


.sliderWrapper{
  background-image: url('../assets/bg_wood.jpg');
  opacity: 1;
}

.menuSlider{
  display: flex;
  flex-wrap: wrap;  
}

.menuSlider > [class*='col-']{
  display: flex;
  flex-direction: column;
}


.menuSlider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menuSlider > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sliderItemName{
  color: #fac122;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}

.sliderDescription, .sliderItemPrice{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeLegibility;
}

.sliderDescription{
  font-size: 0.9em;
  padding: 2px 5px;
}

.sliderButton{
 text-transform: uppercase;
 border-radius: 2.3em;
 letter-spacing: 0.1em;
 font-family: 'Ubuntu',
 sans-serif;
 background-color: #9d0208;
 color: #fff;
 padding: 0.9em 1.8em;
 border: none;
 margin-bottom: 30px;
}

.sliderHeading{
  padding-top: 40px;
  margin-bottom: 10px;
  font-family: 'Ubuntu',
  sans-serif;
  font-weight: 500;
}

.sliderLead{
  font-family: 'Ubuntu',
  sans-serif;
}

/* Cards Tab */

img.cardImage{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.tabDetails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.lineMargin{
  margin-top: -2%;
}


.tab-price{
  color: #9d0208;
  font-weight: bolder;
  font-family: 'Ubuntu',
  sans-serif;
}

.tabName{
  font-weight: bolder;
  font-family: 'Ubuntu',
  sans-serif;
}


/* Testimonial */
.card-main {
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px 0px #283593
}

.card-0 {
    color: #fff;
    background-color: #536DFE;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px
}

.profile {
    color: #000;
    background-color: #FFD54F;
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px
}

.content {
    margin-left: 150px;
    margin-right: 80px
}

.close-quotes {
    margin-bottom: 100px;
    margin-right: 60px
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px
    }

    .card-0 {
        min-height: 432px
    }

    .profile {
        top: 24%
    }

    .profile-pic {
        width: 90px;
        height: 90px
    }

    .open-quotes {
        margin-left: 100px
    }

    .content {
        margin-left: 120px;
        margin-right: 50px
    }

    .close-quotes {
        margin-right: 30px
    }
}