.navee{

  background-color: #9d0208;
  
}

.nav-link {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #ffa000;
  transition: transform 450ms;
  transform: scale(1.09);
}

.navbar-brand{
  color: #fff;
  font-family: 'Libre Baskerville',
  serif;
  font-size: 1.4rem;
  font-style: italic;

}

.navbar-brand:hover{
  color: #ffa000;
  transition: transform 450ms;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #d00000;
}

.nav-pills .nav-link.active:hover,
.nav-pills .show>.nav-link:hover{
  background-color: #ffa000;
}

/* Header Style */
.header{

  background-image: url('../assets/tableHeader.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 90vh;
  text-align: center;
  
}

.h1-header{
  font-family: 'Libre Baskerville',
  serif;
  font-weight: 700;
  padding-top: 150px;
}

.headerPara {
  font-size: 3rem;
  font-family: 'Aladin',
  cursive;
}

.headerButton{
  color: #fff;
  background-color: #ffa000;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #fff;
  font-family: 'Ubuntu',
  sans-serif;
}

.headerButton:hover{
  background-color: #f44c02;
  color: #fff;
  transition: transform 450ms;
  transform: scale(1.09);
  transition-timing-function: ease-in-out;
}